.form-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-unit;
    padding: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid $color-mustard-yellow;
    border-radius: 1rem;
    background: $color-beige;

    .inputs {
        display: flex;
        flex-direction: column;
        gap: $spacing-unit;

        input,
        select,
        textarea {
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.2rem;
            border: 1px solid $color-dark-gray;
            background-color: white;
        }
    }
}