.form-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-unit;

    label {
        font-weight: bold;
    }

    input,
    select,
    button {
        padding: 0.5rem;
        margin: 0.5rem 0;
    }

    button {
        @include button-styles(#fff, $primary-color);
    }
}