@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-styles($color, $bg-color) {
    color: $color;
    background-color: $bg-color;
    border: 1px solid $color;
    border-radius: 0.2rem;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    padding: 1rem 0;
    margin-top: 1rem;
    cursor: pointer;
    width: 15rem;
    text-decoration: none;

    &:hover {
        background-color: darken($bg-color, 5%);
        color: $bg-color;
        background-color: $color;
        transition: all 0.3s ease;
    }
}

@mixin checkbox-styles($color) {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    label {
        font-size: 1rem;
        color: $color;
    }

    input {
        margin-right: 0.5rem;
    }
}