@import '../abstracts/variables';
@import '../abstracts/mixins';

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    font-weight: 100;
    letter-spacing: 0.1rem;

    .nav {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;

        .btn {
            @include button-styles($color-white, $color-black);
        }

    }

    .grid-container {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.5rem;
        justify-items: center;

        .grid-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-image: $gradient-yellow-gold;
            color: $color-black;
            border-radius: 12px;
            padding: 1rem;
            filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
            transition: all 0.3s ease;
            gap: 0.8rem;

            .btn {
                @include button-styles(&$color-black, $color-white);
            }

            &:hover {
                transform: scale(1.05);
                transition: all 0.3s ease;
                cursor: pointer;
            }
        }

    }
}